<p>
	Salut, vous avez demandez a renitialiser votre mot de passe veuillez cliquez sur le lien ci-dessous 
</p>

<p>
	<a href="{{url}}/nouveau-mot-de-passe/{{token}}">Renitialiser mon mot de passe</a>
</p>